body{
    margin: 0;
    font-family: "varela",sans-serif;
    font-size: 14px;
    background-color: rgb(187, 187, 187);
}
header{
    background-color: rgb(46, 45, 45);
    color:white;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    align-items: center;
}

section{
    background-color: rgb(19, 170, 45);
    color: black;
    margin: 0px;
    padding: 10px 520px;
    
    justify-content: space-between;
    align-items: center;
}
section h2{
    color: white;
    padding: 0 55px;
}
section table{
    background-color: rgb(46, 45, 45);
    color: white;
    padding:0px 10px ;
}
div{
    background-color: white;
    color: black;
    margin: 0px;
    padding: 10px 20px 10px 10px;
    display: block;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: rgb(46, 45, 45);
    color:white;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}